*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

:root{
    --darkBlue: #050A24;
    --blue: #0B75EB;
    --white: #FFFFFF;
}